:root {
    --coolgray-90: rgba(33, 39, 42, 1);
    --primary-90: rgba(0, 29, 108, 1);
    --defaultwhite: rgba(255, 255, 255, 1);
    --coolgray-60: rgba(105, 112, 119, 1);
    --coolgray-10: rgba(242, 244, 248, 1);
    --coolgray-20: rgba(221, 225, 230, 1);
    --primary-60: rgba(15, 98, 254, 1);
    --coolgray-30: rgba(193, 199, 205, 1);
    --other-menu-m-font-family: "Roboto", Helvetica;
    --other-menu-m-font-weight: 500;
    --other-menu-m-font-size: 16px;
    --other-menu-m-letter-spacing: 0px;
    --other-menu-m-line-height: 100%;
    --other-menu-m-font-style: normal;
    --button-m-font-family: "Roboto", Helvetica;
    --button-m-font-weight: 500;
    --button-m-font-size: 16px;
    --button-m-letter-spacing: 0.5px;
    --button-m-line-height: 100%;
    --button-m-font-style: normal;
    --other-caption-font-family: "Roboto", Helvetica;
    --other-caption-font-weight: 700;
    --other-caption-font-size: 20px;
    --other-caption-letter-spacing: 1px;
    --other-caption-line-height: 100%;
    --other-caption-font-style: normal;
    --heading-4-font-family: "Roboto", Helvetica;
    --heading-4-font-weight: 700;
    --heading-4-font-size: 24px;
    --heading-4-letter-spacing: 0px;
    --heading-4-line-height: 110.00000238418579%;
    --heading-4-font-style: normal;
    --body-XS-font-family: "Roboto", Helvetica;
    --body-XS-font-weight: 400;
    --body-XS-font-size: 12px;
    --body-XS-letter-spacing: 0px;
    --body-XS-line-height: 139.9999976158142%;
    --body-XS-font-style: normal;
}
