@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(../menu.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}

/* Fundo com bordas laterais claras */
body {
    background: #F4F5FA;
}

/* Centralização do card */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
}

/* Card estilo da imagem */
.form {
    width: 65%;
    background: #fff;
    padding: 45px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.08);
}

/* Títulos */
.form-content h2 {
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 5px;
}

.form-content h3 {
    text-align: center;
    font-weight: 500;
    color: #555;
    margin-bottom: 25px;
}

/* Abas */
.tipo-conta {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 10px;
    margin-bottom: 35px;
}

.tipo-conta li a {
    padding: 10px 25px;
    background: #E7E9F3;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
    color: #444;
    transition: .2s;
}

.tipo-conta li a.ativo,
.tipo-conta li a:hover {
    background: #556DBA;
    color: #fff;
}

/* Inputs parecidos com o da imagem */
.input {
    width: 100%;
    height: 46px;
    border-radius: 6px;
    border: 1px solid #dfe3ee;
    padding: 12px;
    margin-top: 18px;
    background: #fafafa;
    transition: .2s;
}

.input:focus {
    border-color: #556DBA;
    background: #fff;
    outline: none;
    box-shadow: 0 0 5px rgba(85,109,186,.3);
}

/* Divisão dupla */
.linha-dupla {
    display: flex;
    gap: 20px;
}

/* Checkbox */
.aceite {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    font-size: 14px;
    color: #555;
}

/* Botão azul abaixo igual ao da imagem */
.btn-criar {
    margin-top: 30px;
    display: block;
    width: 100%;
    background: #556DBA;
    padding: 14px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    font-weight: 700;
    text-decoration: none;
    transition: .2s;
}

.btn-criar:hover {
    background: #0d6efd
}

/* Link de login */
.login-link {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.login-link a {
    color: #0d6efd;
}
