.profissional {
    background-color: #ffffff;
    overflow: hidden;
    width: 100%;
    min-width: 1440px;
    min-height: 1726px;
    position: relative;
}

.profissional .rectangle {
    position: absolute;
    top: 1126px;
    left: 73px;
    width: 792px;
    height: 436px;
    background-color: #efefef;
    border-radius: 10px;
    border: 1px solid;
    border-color: #686868;
}

.profissional .text-wrapper {
    position: absolute;
    top: 1165px;
    left: 91px;
    width: 328px;
    font-family: "Roboto-Medium", Helvetica;
    font-weight: 500;
    color: #686868;
    font-size: 25px;
    letter-spacing: 0;
    line-height: 25px;
}

.profissional .img {
    position: absolute;
    top: -2317px;
    left: -7783px;
    width: 1341px;
    height: 875px;
}

.profissional .frame {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: absolute;
    top: 375px;
    left: 191px;
}

.profissional .div {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Roboto-ExtraBold", Helvetica;
    font-weight: 800;
    color: #556cba;
    font-size: 30px;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
}

.profissional .div-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: absolute;
    top: 379px;
    left: 851px;
}

.profissional .text-wrapper-2 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Roboto-ExtraBold", Helvetica;
    font-weight: 800;
    color: #baa255;
    font-size: 30px;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
}

.profissional .frame-2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: absolute;
    top: 379px;
    left: 1175px;
}

.profissional .text-wrapper-3 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Roboto-ExtraBold", Helvetica;
    font-weight: 800;
    color: #3f8829;
    font-size: 30px;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
}

.profissional .frame-3 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: absolute;
    top: 374px;
    left: 514px;
}

.profissional .menu {
    display: flex;
    width: 1341px;
    align-items: center;
    gap: 8px;
    padding: 8px 80px;
    position: absolute;
    top: 202px;
    left: 52px;
    background-color: #f2f4f8;
}

.profissional .menu-item {
    display: inline-flex;
    padding: 12px 0px;
    align-items: center;
    gap: 8px;
    position: relative;
    align-self: stretch;
    flex: 0 0 auto;
}

.profissional .icon-jam-icons {
    position: relative;
    width: 24px;
    height: 24px;
}

.profissional .text-wrapper-4 {
    position: absolute;
    top: 226px;
    left: 714px;
    font-family: var(--other-menu-m-font-family);
    font-weight: var(--other-menu-m-font-weight);
    color: var(--coolgray-90);
    font-size: var(--other-menu-m-font-size);
    letter-spacing: var(--other-menu-m-letter-spacing);
    line-height: var(--other-menu-m-line-height);
    white-space: nowrap;
    font-style: var(--other-menu-m-font-style);
}

.profissional .text-wrapper-5 {
    position: absolute;
    top: 224px;
    left: 436px;
    font-family: var(--other-menu-m-font-family);
    font-weight: var(--other-menu-m-font-weight);
    color: var(--coolgray-90);
    font-size: var(--other-menu-m-font-size);
    letter-spacing: var(--other-menu-m-letter-spacing);
    line-height: var(--other-menu-m-line-height);
    white-space: nowrap;
    font-style: var(--other-menu-m-font-style);
}

.profissional .buttons-group {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    position: absolute;
    top: 210px;
    left: 1198px;
}

.profissional .button {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    height: 48px;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 16px 8px;
    position: relative;
    flex: 0 0 auto;
}

.profissional .icon-jam-icons-2 {
    position: relative;
    width: 24px;
    height: 24px;
    margin-top: -4.00px;
    margin-bottom: -4.00px;
}

.profissional .div-2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex: 0 0 auto;
}

.profissional .button-text {
    font-family: var(--button-m-font-family);
    font-weight: var(--button-m-font-weight);
    color: var(--primary-90);
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-size: var(--button-m-font-size);
    letter-spacing: var(--button-m-letter-spacing);
    line-height: var(--button-m-line-height);
    white-space: nowrap;
    font-style: var(--button-m-font-style);
}

.profissional .text-container-wrapper {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    height: 36px;
    align-items: center;
    justify-content: center;
    padding: 16px 12px;
    position: absolute;
    top: 216px;
    left: 284px;
    background-color: #556cba;
    border-radius: 10px;
    border: 2px solid;
}

.profissional .text-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 16px;
    position: relative;
    flex: 0 0 auto;
    margin-top: -6.00px;
    margin-bottom: -6.00px;
}

.profissional .button-text-2 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--button-m-font-family);
    font-weight: var(--button-m-font-weight);
    color: var(--defaultwhite);
    font-size: var(--button-m-font-size);
    letter-spacing: var(--button-m-letter-spacing);
    line-height: var(--button-m-line-height);
    white-space: nowrap;
    font-style: var(--button-m-font-style);
}

.profissional .caption {
    position: absolute;
    top: 222px;
    left: -460px;
    width: 1280px;
    font-family: var(--other-caption-font-family);
    font-weight: var(--other-caption-font-weight);
    color: var(--primary-90);
    font-size: var(--other-caption-font-size);
    text-align: center;
    letter-spacing: var(--other-caption-letter-spacing);
    line-height: var(--other-caption-line-height);
    font-style: var(--other-caption-font-style);
}

.profissional .rectangle-2 {
    position: absolute;
    top: 331px;
    left: 73px;
    width: 299px;
    height: 165px;
    border-radius: 5px;
    border: 2px solid;
    border-color: #686868;
}

.profissional .rectangle-3 {
    position: absolute;
    top: 331px;
    left: 405px;
    width: 299px;
    height: 165px;
    border-radius: 5px;
    border: 2px solid;
    border-color: #686868;
}

.profissional .rectangle-4 {
    position: absolute;
    top: 331px;
    left: 728px;
    width: 299px;
    height: 165px;
    border-radius: 5px;
    border: 2px solid;
    border-color: #686868;
}

.profissional .rectangle-5 {
    position: absolute;
    top: 331px;
    left: 1061px;
    width: 299px;
    height: 165px;
    border-radius: 5px;
    border: 2px solid;
    border-color: #686868;
}

.profissional .group {
    position: absolute;
    top: 532px;
    left: 73px;
    width: 814px;
    height: 575px;
}

.profissional .rectangle-6 {
    width: 792px;
    height: 575px;
    position: absolute;
    top: 0;
    left: 0;
}

.profissional .rectangle-7 {
    position: absolute;
    top: 228px;
    left: 12px;
    width: 761px;
    height: 60px;
    border-radius: 5px;
    border: 1px solid;
    border-color: #686868;
}

.profissional .rectangle-8 {
    position: absolute;
    top: 308px;
    left: 12px;
    width: 761px;
    height: 60px;
    border-radius: 5px;
    border: 1px solid;
    border-color: #686868;
}

.profissional .rectangle-9 {
    position: absolute;
    top: 383px;
    left: 12px;
    width: 761px;
    height: 60px;
    border-radius: 5px;
    border: 1px solid;
    border-color: #686868;
}

.profissional .rectangle-10 {
    position: absolute;
    top: 468px;
    left: 12px;
    width: 761px;
    height: 60px;
    border-radius: 5px;
    border: 1px solid;
    border-color: #686868;
}

.profissional .text-wrapper-6 {
    position: absolute;
    top: 54px;
    left: 18px;
    width: 254px;
    font-family: "Roboto-Medium", Helvetica;
    font-weight: 500;
    color: #686868;
    font-size: 25px;
    letter-spacing: 0;
    line-height: 25px;
}

.profissional .rectangle-11 {
    position: absolute;
    top: 153px;
    left: 12px;
    width: 761px;
    height: 60px;
    border-radius: 5px;
    border: 1px solid;
    border-color: #686868;
}

.profissional .text-wrapper-7 {
    position: absolute;
    top: 176px;
    left: 548px;
    width: 83px;
    font-family: "Roboto-ExtraBold", Helvetica;
    font-weight: 800;
    color: #273870;
    font-size: 15px;
    text-align: right;
    letter-spacing: 0;
    line-height: 15px;
}

.profissional .text-wrapper-8 {
    position: absolute;
    top: 250px;
    left: 517px;
    width: 114px;
    font-family: "Roboto-ExtraBold", Helvetica;
    font-weight: 800;
    color: #273870;
    font-size: 15px;
    text-align: right;
    letter-spacing: 0;
    line-height: 15px;
}

.profissional .text-wrapper-9 {
    position: absolute;
    top: 407px;
    left: 657px;
    width: 83px;
    font-family: "Roboto-ExtraBold", Helvetica;
    font-weight: 800;
    color: #273870;
    font-size: 15px;
    text-align: right;
    letter-spacing: 0;
    line-height: 15px;
}

.profissional .text-wrapper-10 {
    position: absolute;
    top: 490px;
    left: 657px;
    width: 83px;
    font-family: "Roboto-ExtraBold", Helvetica;
    font-weight: 800;
    color: #273870;
    font-size: 15px;
    text-align: right;
    letter-spacing: 0;
    line-height: 15px;
}

.profissional .text-wrapper-11 {
    position: absolute;
    top: 332px;
    left: 547px;
    width: 83px;
    font-family: "Roboto-ExtraBold", Helvetica;
    font-weight: 800;
    color: #273870;
    font-size: 15px;
    text-align: right;
    letter-spacing: 0;
    line-height: 15px;
}

.profissional .element-nome {
    position: absolute;
    top: 176px;
    left: 28px;
    width: 199px;
    font-family: "Roboto-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 17px;
    letter-spacing: 0;
    line-height: 17px;
    white-space: nowrap;
}

.profissional .span {
    font-family: "Roboto-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 17px;
    letter-spacing: 0;
    line-height: 17px;
}

.profissional .text-wrapper-12 {
    font-size: 14px;
    line-height: 14px;
}

.profissional .p {
    position: absolute;
    top: 250px;
    left: 28px;
    width: 199px;
    font-family: "Roboto-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 17px;
    letter-spacing: 0;
    line-height: 17px;
    white-space: nowrap;
}

.profissional .element-nome-2 {
    position: absolute;
    top: 328px;
    left: 28px;
    width: 199px;
    font-family: "Roboto-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 17px;
    letter-spacing: 0;
    line-height: 17px;
    white-space: nowrap;
}

.profissional .element-nome-3 {
    position: absolute;
    top: 403px;
    left: 28px;
    width: 199px;
    font-family: "Roboto-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 17px;
    letter-spacing: 0;
    line-height: 17px;
    white-space: nowrap;
}

.profissional .element-nome-4 {
    position: absolute;
    top: 488px;
    left: 28px;
    width: 199px;
    font-family: "Roboto-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 17px;
    letter-spacing: 0;
    line-height: 17px;
    white-space: nowrap;
}

.profissional .button-2 {
    all: unset;
    box-sizing: border-box;
    display: flex;
    width: 119px;
    height: 29px;
    align-items: center;
    justify-content: center;
    padding: 16px 12px;
    position: absolute;
    top: 100px;
    left: 18px;
    background-color: #556cba;
    border-radius: 10px;
    border: 2px solid;
}

.profissional .button-text-wrapper {
    display: inline-flex;
    flex: 0 0 auto;
    margin-top: -9.50px;
    margin-bottom: -9.50px;
    margin-left: -10.00px;
    margin-right: -10.00px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 16px;
    position: relative;
}

.profissional .button-text-3 {
    font-family: "Roboto-Light", Helvetica;
    font-weight: 300;
    color: var(--defaultwhite);
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-size: 16px;
    letter-spacing: 0.50px;
    line-height: 16px;
    white-space: nowrap;
}

.profissional .button-3 {
    all: unset;
    box-sizing: border-box;
    display: flex;
    width: 119px;
    height: 29px;
    align-items: center;
    justify-content: center;
    padding: 16px 12px;
    position: absolute;
    top: 100px;
    left: 167px;
    background-color: #d9d9d9;
    border-radius: 10px;
}

.profissional .text-container-2 {
    display: inline-flex;
    flex: 0 0 auto;
    margin-top: -9.50px;
    margin-bottom: -9.50px;
    margin-left: -11.00px;
    margin-right: -11.00px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 16px;
    position: relative;
}

.profissional .button-text-4 {
    font-family: "Roboto-Light", Helvetica;
    font-weight: 300;
    color: #21272a;
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-size: 16px;
    letter-spacing: 0.50px;
    line-height: 16px;
    white-space: nowrap;
}

.profissional .button-4 {
    all: unset;
    box-sizing: border-box;
    display: flex;
    width: 129px;
    height: 29px;
    align-items: center;
    justify-content: center;
    padding: 16px 12px;
    position: absolute;
    top: 99px;
    left: 316px;
    background-color: #d9d9d9;
    border-radius: 10px;
}

.profissional .text-container-3 {
    display: inline-flex;
    flex: 0 0 auto;
    margin-top: -9.50px;
    margin-bottom: -9.50px;
    margin-left: -21.00px;
    margin-right: -21.00px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 16px;
    position: relative;
}

.profissional .group-2 {
    position: absolute;
    top: 1197px;
    left: 886px;
    width: 486px;
    height: 224px;
}

.profissional .rectangle-12 {
    position: absolute;
    top: 0;
    left: 0;
    width: 484px;
    height: 224px;
}

.profissional .text-wrapper-13 {
    position: absolute;
    top: 21px;
    left: 24px;
    width: 232px;
    font-family: "Roboto-Medium", Helvetica;
    font-weight: 500;
    color: #686868;
    font-size: 25px;
    letter-spacing: 0;
    line-height: 25px;
}

.profissional .group-3 {
    position: absolute;
    top: 1464px;
    left: 886px;
    width: 486px;
    height: 224px;
}

.profissional .text-wrapper-14 {
    position: absolute;
    top: 21px;
    left: 21px;
    width: 232px;
    font-family: "Roboto-Medium", Helvetica;
    font-weight: 500;
    color: #686868;
    font-size: 25px;
    letter-spacing: 0;
    line-height: 25px;
}

.profissional .group-4 {
    position: absolute;
    top: 535px;
    left: 879px;
    width: 490px;
    height: 224px;
}

.profissional .hist-rico-alergias {
    position: absolute;
    top: 140px;
    left: 21px;
    width: 154px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #21272a;
    font-size: 13px;
    letter-spacing: 0.50px;
    line-height: 13px;
}

.profissional .text-wrapper-15 {
    position: absolute;
    top: 21px;
    left: 21px;
    width: 298px;
    font-family: "Roboto-Medium", Helvetica;
    font-weight: 500;
    color: #686868;
    font-size: 25px;
    letter-spacing: 0;
    line-height: 25px;
}

.profissional .placeholder-picture {
    position: absolute;
    top: 68px;
    left: 19px;
    width: 59px;
    height: 58px;
    border-radius: 30px;
    background: linear-gradient(
        0deg,
        rgba(221, 225, 230, 1) 0%,
        rgba(221, 225, 230, 1) 100%
    );
}

.profissional .nome-do-paciente {
    position: absolute;
    top: 81px;
    left: 88px;
    width: 154px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #21272a;
    font-size: 16px;
    letter-spacing: 0.50px;
    line-height: 16px;
}

.profissional .ellipse {
    position: absolute;
    top: 224px;
    left: 413px;
    width: 15px;
    height: 15px;
    background-color: #3f8829;
    border-radius: 7.5px;
}

.profissional .button-5 {
    all: unset;
    box-sizing: border-box;
    display: flex;
    width: 119px;
    height: 29px;
    align-items: center;
    justify-content: center;
    padding: 16px 12px;
    position: absolute;
    top: 702px;
    left: 717px;
    background-color: #556cba;
    border-radius: 10px;
    border: 2px solid;
}

.profissional .text-container-4 {
    display: inline-flex;
    flex: 0 0 auto;
    margin-top: -9.50px;
    margin-bottom: -9.50px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 16px;
    position: relative;
}

.profissional .button-6 {
    all: unset;
    box-sizing: border-box;
    display: flex;
    width: 119px;
    height: 29px;
    align-items: center;
    justify-content: center;
    padding: 16px 12px;
    position: absolute;
    top: 775px;
    left: 717px;
    background-color: #7bc4aa;
    border-radius: 10px;
}

.profissional .text-container-5 {
    display: inline-flex;
    flex: 0 0 auto;
    margin-top: -9.50px;
    margin-bottom: -9.50px;
    margin-left: -5.00px;
    margin-right: -5.00px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 16px;
    position: relative;
}

.profissional .button-7 {
    all: unset;
    box-sizing: border-box;
    display: flex;
    width: 119px;
    height: 29px;
    align-items: center;
    justify-content: center;
    padding: 16px 12px;
    position: absolute;
    top: 855px;
    left: 717px;
    background-color: #556cba;
    border-radius: 10px;
    border: 2px solid;
}

.profissional .frame-4 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: absolute;
    top: 423px;
    left: 152px;
}

.profissional .text-wrapper-16 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Roboto-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 18px;
    white-space: nowrap;
}

.profissional .frame-5 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: absolute;
    top: 423px;
    left: 481px;
}

.profissional .frame-6 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: absolute;
    top: 424px;
    left: 805px;
}

.profissional .frame-7 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: absolute;
    top: 423px;
    left: 1160px;
}

.profissional .group-5 {
    position: absolute;
    top: 775px;
    left: 879px;
    width: 486px;
    height: 630px;
}

.profissional .rectangle-13 {
    width: 484px;
    height: 375px;
    position: absolute;
    top: 0;
    left: 0;
}

.profissional .text-wrapper-17 {
    position: absolute;
    top: 34px;
    left: 27px;
    width: 232px;
    font-family: "Roboto-Medium", Helvetica;
    font-weight: 500;
    color: #686868;
    font-size: 25px;
    letter-spacing: 0;
    line-height: 25px;
    white-space: nowrap;
}

.profissional .button-8 {
    all: unset;
    box-sizing: border-box;
    display: flex;
    width: 444px;
    height: 52px;
    align-items: center;
    justify-content: center;
    padding: 16px 12px;
    position: absolute;
    top: 85px;
    left: 21px;
    background-color: #556cba;
    border-radius: 10px;
    border: 2px solid;
}

.profissional .text-container-6 {
    display: inline-flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 16px;
    position: relative;
}

.profissional .button-text-5 {
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: var(--defaultwhite);
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-size: 16px;
    letter-spacing: 0.50px;
    line-height: 16px;
    white-space: nowrap;
}

.profissional .button-9 {
    all: unset;
    box-sizing: border-box;
    display: flex;
    width: 444px;
    height: 52px;
    align-items: center;
    justify-content: center;
    padding: 16px 12px;
    position: absolute;
    top: 578px;
    left: 31px;
    background-color: #7bc4aa;
    border-radius: 10px;
}

.profissional .button-10 {
    all: unset;
    box-sizing: border-box;
    display: flex;
    width: 444px;
    height: 52px;
    align-items: center;
    justify-content: center;
    padding: 16px 12px;
    position: absolute;
    top: 157px;
    left: 20px;
    background-color: #c7c7c7;
    border-radius: 10px;
}

.profissional .button-text-6 {
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #21272a;
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-size: 16px;
    letter-spacing: 0.50px;
    line-height: 16px;
    white-space: nowrap;
}

.profissional .button-11 {
    all: unset;
    box-sizing: border-box;
    display: flex;
    width: 444px;
    height: 52px;
    align-items: center;
    justify-content: center;
    padding: 16px 12px;
    position: absolute;
    top: 228px;
    left: 21px;
    background-color: #c7c7c7;
    border-radius: 10px;
}

.profissional .button-12 {
    all: unset;
    box-sizing: border-box;
    display: flex;
    width: 444px;
    height: 52px;
    align-items: center;
    justify-content: center;
    padding: 16px 12px;
    position: absolute;
    top: 299px;
    left: 21px;
    background-color: #c7c7c7;
    border-radius: 10px;
}

.profissional .rectangle-14 {
    position: absolute;
    top: 1223px;
    left: 101px;
    width: 343px;
    height: 215px;
    background-color: #d9d9d9;
}

.profissional .rectangle-15 {
    position: absolute;
    top: 1223px;
    left: 478px;
    width: 343px;
    height: 215px;
    background-color: #d9d9d9;
}

.profissional .button-13 {
    all: unset;
    box-sizing: border-box;
    display: flex;
    width: 174px;
    height: 52px;
    align-items: center;
    justify-content: center;
    padding: 16px 12px;
    position: absolute;
    top: 1492px;
    left: 295px;
    background-color: #556cba;
    border-radius: 10px;
    border: 2px solid;
}

.profissional .text-container-7 {
    display: inline-flex;
    flex: 0 0 auto;
    margin-left: -8.50px;
    margin-right: -8.50px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 16px;
    position: relative;
}

.profissional .button-14 {
    all: unset;
    box-sizing: border-box;
    display: flex;
    width: 174px;
    height: 52px;
    align-items: center;
    justify-content: center;
    padding: 16px 12px;
    position: absolute;
    top: 1492px;
    left: 506px;
    background-color: #7bc4aa;
    border-radius: 10px;
}

.profissional .ellipse-2 {
    position: absolute;
    top: 1499px;
    left: 700px;
    width: 40px;
    height: 38px;
    background-color: #cf2626;
    border-radius: 20px / 19px;
}

.profissional .element-maria-silva {
    position: absolute;
    top: 1527px;
    left: 909px;
    width: 249px;
    font-family: "Roboto-Light", Helvetica;
    font-weight: 300;
    color: transparent;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 20px;
}

.profissional .text-wrapper-18 {
    color: #000000;
}

.profissional .text-wrapper-19 {
    color: #3f8829;
}

.profissional .rascunho {
    display: flex;
    flex-direction: column;
    width: 1440px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -1px;
    left: 0;
    background-color: var(--defaultwhite);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: var(--coolgray-20);
}

.profissional .center {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 24px 80px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.profissional .logo {
    display: inline-flex;
    align-items: flex-start;
    gap: 4px;
    position: relative;
    flex: 0 0 auto;
    background-color: #ffffff;
}

.profissional .text {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    flex: 0 0 auto;
}

.profissional .webby-frames {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--heading-4-font-family);
    font-weight: var(--heading-4-font-weight);
    color: var(--coolgray-60);
    font-size: var(--heading-4-font-size);
    letter-spacing: var(--heading-4-letter-spacing);
    line-height: var(--heading-4-line-height);
    white-space: nowrap;
    font-style: var(--heading-4-font-style);
}

.profissional .rectangle-16 {
    position: relative;
    width: 105px;
    height: 39px;
    margin-top: -2638.00px;
    margin-left: -7601.00px;
}

.profissional .frame-8 {
    position: relative;
    width: 110px;
    height: 32px;
    background-image: url(./img/rectangle-5.svg);
    background-size: 100% 100%;
}

.profissional .text-container-8 {
    display: flex;
    width: 57px;
    top: 8px;
    left: 27px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 16px;
    position: relative;
}

.profissional .text-wrapper-20 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    margin-left: -16.00px;
    margin-right: -16.00px;
    font-family: var(--button-m-font-family);
    font-weight: var(--button-m-font-weight);
    color: #797979;
    font-size: var(--button-m-font-size);
    letter-spacing: var(--button-m-letter-spacing);
    line-height: var(--button-m-line-height);
    white-space: nowrap;
    font-style: var(--button-m-font-style);
}

.profissional .frame-9 {
    position: relative;
    width: 110px;
    height: 32px;
    background-image: url(./img/rectangle-6.svg);
    background-size: 100% 100%;
}

.profissional .text-container-9 {
    display: flex;
    width: 100px;
    top: 8px;
    left: 5px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 16px;
    position: relative;
}

.profissional .text-wrapper-21 {
    position: relative;
    width: 92px;
    margin-top: -1.00px;
    margin-left: -12.00px;
    margin-right: -12.00px;
    font-family: var(--button-m-font-family);
    font-weight: var(--button-m-font-weight);
    color: #797979;
    font-size: var(--button-m-font-size);
    letter-spacing: var(--button-m-letter-spacing);
    line-height: var(--button-m-line-height);
    font-style: var(--button-m-font-style);
}

.profissional .frame-10 {
    position: relative;
    width: 110px;
    height: 32px;
    background-image: url(./img/rectangle-7.svg);
    background-size: 100% 100%;
}

.profissional .text-container-10 {
    display: flex;
    width: 90px;
    top: 8px;
    left: 10px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 16px;
    position: relative;
}

.profissional .text-wrapper-22 {
    position: relative;
    width: 93px;
    margin-top: -1.00px;
    margin-left: -17.50px;
    margin-right: -17.50px;
    font-family: var(--button-m-font-family);
    font-weight: var(--button-m-font-weight);
    color: #797979;
    font-size: var(--button-m-font-size);
    text-align: center;
    letter-spacing: var(--button-m-letter-spacing);
    line-height: var(--button-m-line-height);
    font-style: var(--button-m-font-style);
}

.profissional .frame-11 {
    position: relative;
    width: 110px;
    height: 32px;
    background-image: url(./img/rectangle-8.svg);
    background-size: 100% 100%;
}

.profissional .text-wrapper-23 {
    position: relative;
    width: 93px;
    margin-top: -1.00px;
    margin-left: -17.50px;
    margin-right: -17.50px;
    font-family: var(--button-m-font-family);
    font-weight: var(--button-m-font-weight);
    color: #ffffff;
    font-size: var(--button-m-font-size);
    text-align: center;
    letter-spacing: var(--button-m-letter-spacing);
    line-height: var(--button-m-line-height);
    font-style: var(--button-m-font-style);
}

.profissional .frame-12 {
    position: relative;
    width: 110px;
    height: 32px;
    background-image: url(./img/rectangle-9.svg);
    background-size: 100% 100%;
}

.profissional .menu-2 {
    display: flex;
    padding: 8px 80px;
    width: 100%;
    background-color: var(--coolgray-10);
    align-items: center;
    gap: 8px;
    position: relative;
    align-self: stretch;
    flex: 0 0 auto;
}

.profissional .left {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    flex: 1;
    flex-grow: 1;
}

.profissional .menu-item-2 {
    display: inline-flex;
    padding: 4px 16px;
    flex: 0 0 auto;
    background-color: #7bc4aa;
    border-radius: 5px;
    border: 1px solid;
    border-color: #c1c7cd;
    align-items: center;
    gap: 8px;
    position: relative;
}

.profissional .home-f-rmacia {
    position: relative;
    width: fit-content;
    font-family: var(--other-menu-m-font-family);
    font-weight: var(--other-menu-m-font-weight);
    color: #ffffff;
    font-size: var(--other-menu-m-font-size);
    text-align: center;
    letter-spacing: var(--other-menu-m-letter-spacing);
    line-height: var(--other-menu-m-line-height);
    white-space: nowrap;
    font-style: var(--other-menu-m-font-style);
}

.profissional .menu-item-3 {
    display: flex;
    width: 98px;
    padding: 8px 16px;
    align-items: center;
    gap: 8px;
    position: relative;
}

.profissional .text-wrapper-24 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    margin-right: -5.00px;
    font-family: var(--other-menu-m-font-family);
    font-weight: var(--other-menu-m-font-weight);
    color: #21272a;
    font-size: var(--other-menu-m-font-size);
    text-align: center;
    letter-spacing: var(--other-menu-m-letter-spacing);
    line-height: var(--other-menu-m-line-height);
    white-space: nowrap;
    font-style: var(--other-menu-m-font-style);
}

.profissional .pedidos-wrapper {
    display: inline-flex;
    padding: 8px 16px;
    flex: 0 0 auto;
    align-items: center;
    gap: 8px;
    position: relative;
}

.profissional .pedidos {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--other-menu-m-font-family);
    font-weight: var(--other-menu-m-font-weight);
    color: #21272a;
    font-size: var(--other-menu-m-font-size);
    text-align: center;
    letter-spacing: var(--other-menu-m-letter-spacing);
    line-height: var(--other-menu-m-line-height);
    white-space: nowrap;
    font-style: var(--other-menu-m-font-style);
}

.profissional .relat-rios-wrapper {
    display: flex;
    width: 114px;
    padding: 8px 16px;
    align-items: center;
    gap: 8px;
    position: relative;
}

.profissional .relat-rios {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    margin-right: -3.00px;
    font-family: var(--other-menu-m-font-family);
    font-weight: var(--other-menu-m-font-weight);
    color: #21272a;
    font-size: var(--other-menu-m-font-size);
    text-align: center;
    letter-spacing: var(--other-menu-m-letter-spacing);
    line-height: var(--other-menu-m-line-height);
    white-space: nowrap;
    font-style: var(--other-menu-m-font-style);
}

.profissional .icon-jam-icons-3 {
    background-image: url(./img/megaphone-outline.svg);
    background-size: 100% 100%;
    position: relative;
    width: 24px;
    height: 24px;
}

.profissional .text-wrapper-25 {
    position: relative;
    width: fit-content;
    font-family: var(--other-menu-m-font-family);
    font-weight: var(--other-menu-m-font-weight);
    color: var(--coolgray-90);
    font-size: var(--other-menu-m-font-size);
    letter-spacing: var(--other-menu-m-letter-spacing);
    line-height: var(--other-menu-m-line-height);
    white-space: nowrap;
    font-style: var(--other-menu-m-font-style);
}
