.retangulo-opcoes {
    padding: 4px 16px 4px 16px;
    width: 270px;
    height: 150px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    background-color: #EFEFEF;
    border: 0.5px solid #697077;
    border-radius: 3%;
    margin-bottom: 15px;
    margin-left: 53px;
}

.placeholder-opcoes {
    width: 70px;
    height: 70px; 
    border: 1.5px solid #697077; 
    margin: 15px;
    border-radius: 5%;
}

.texto-opcoes {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-self: center;
    color: #21272A;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.pesquisa-suporte {
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 20px;
    margin-top: 70px;
}

.pesquisa-suporte input {
    width: 500px;
    padding: 12px;
    border: 1px solid #000000;
    border-radius: 10px;
    align-self: center;
}

.pesquisa-suporte button {
    padding: 12px 18px;
    background: #556DBA;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: background 0.2s;
}

.pesquisa-suporte button:hover {
    background: #072d7e;
}

.pagina-inicial {
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 20px;
    margin-top: 50px;
}

.pagina-inicial button {
    padding: 15px 23px;
    background: #556DBA;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: background 0.2s;
}

.pagina-inicial button:hover {
    background: rgb(7, 45, 126);
}

