/* Parte 1 */

.topo {
    width: 91.5%;
    height: 35px;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 24px 80px 24px 80px;
    flex-direction: row;
    align-self: stretch;
    position: relative;
    display: flex; 
}

.logo {
    width: 28px;
    height: 28px; 
    border: 1.5px solid #697077; 
    padding-top: 24;
    padding-left: 80; 
}

.clickfarma {
    color: #697077;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    line-height: 110%;
    text-align: left;
    position: relative;
    padding-left: 6px;
    padding-top: 1.5px;
}

.perfil {
    color: #65696d;
    font-size: 35px;
    margin-left: auto;
}

.configuracao {
    color: #65696d;
    font-size: 35px;
    position: absolute;
    left: 91%
}

/* Parte 2 */

.menu {
    background-color: #F2F4F8; 
    padding: 8px 80px 8px 80px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    margin: 0; 
    height: 45px;
    width: 91.5%;
}

.retangulo-naomarcado {
    padding: 4px 16px 4px 16px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    border-right: 1.0px solid #697077;
}

.retangulo-ultimo {
    padding: 4px 16px 4px 16px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.texto-naomarcado {
    color: #21272a;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 100%;
    text-align: left;
    position: relative;
}

.texto-marcado {
    color: #ffffff;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 100%;
    text-align: left;
    position: relative;
}

.retangulo-marcado-suporte {
    background-color: #7CC4AB;
    border-radius: 5px;
    padding: 8px 32px 8px 32px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    margin-left: auto;
}

/* Parte 3 */

.titulo {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-self: center;
    color: #686868;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 40px;
    padding-top: 30px;
}

.descricao {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-self: center;
    color: #686868;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 15px;
    padding-top: 20px;
}

/* Parte 4 */

.retangulo-central {
    max-width: 91%;
    max-height: 450px;
    background-color: #F2F4F8;
    margin-top: 30px;
    flex-direction: stretch;
    align-self: center;
    position: relative;
    display: flex; 
    padding: 50px 90px 50px 90px;
}

.retangulo-opcoes {
    padding: 4px 16px 4px 16px;
    width: 400px;
    height: 170px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    background-color: #EFEFEF;
    border: 2px solid #697077;
    border-radius: 5%;
    margin-left: 90px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.placeholder-opcoes {
    width: 130px;
    height: 130px; 
    border: 1.5px solid #697077; 
    margin: 15px;
    border-radius: 5%;
}

.texto-opcoes {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-self: center;
    color: #21272A;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 25px;
}

/* Parte 5 */

.pesquisa-suporte {
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 20px;
    margin-top: 70px;
}

.pesquisa-suporte input {
    width: 500px;
    padding: 12px;
    border: 1px solid #000000;
    border-radius: 10px;
    align-self: center;
}

.pesquisa-suporte button {
    padding: 12px 18px;
    background: #556DBA;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: background 0.2s;
}

.pesquisa-suporte button:hover {
    background: rgb(7, 45, 126);
}

.pagina-inicial {
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 20px;
    margin-top: 70px;
}

.pagina-inicial button {
    padding: 15px 23px;
    background: #556DBA;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: background 0.2s;
}

.pagina-inicial button:hover {
    background: rgb(7, 45, 126);
}